In [1]:
import pandas as pd

In [2]:
df_csv = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv")

In [3]:
print(df_csv)

     eno               ename         doj    deptname
0   1001        Arjun Sharma  2022-01-15          HR
1   1002         Priya Patel  2023-03-22     Finance
2   1003          Ravi Kumar  2021-05-10          IT
3   1004         Sneha Gupta  2020-08-25   Marketing
4   1005          Anil Reddy  2024-02-13       Sales
5   1006          Neha Verma  2019-11-30  Operations
6   1007         Vijay Singh  2022-07-08          HR
7   1008         Ananya Iyer  2021-03-15     Finance
8   1009        Manish Joshi  2020-12-19          IT
9   1010         Simran Kaur  2023-01-11   Marketing
10  1011        Rajesh Mehta  2021-09-01       Sales
11  1012       Deepika Desai  2020-06-10  Operations
12  1013      Shivani Sharma  2022-09-13          HR
13  1014         Harish Nair  2023-04-01     Finance
14  1015         Komal Yadav  2021-11-23          IT
15  1016          Ajay Bhatt  2020-04-25   Marketing
16  1017         Pooja Malik  2022-02-28       Sales
17  1018        Raghav Joshi  2021-06-14  Operations
18  1019          Meera Nair  2020-09-17          HR
19  1020         Krishna Rao  2023-10-02     Finance
20  1021      Prakash Pillai  2022-12-11          HR
21  1022  Aishwarya Deshmukh  2021-07-25     Finance
22  1023          Vikas Soni  2020-11-15          IT
23  1024          Ritu Mehra  2023-05-20   Marketing
24  1025       Nitin Chauhan  2020-03-30       Sales
25  1026        Swati Kapoor  2021-10-05  Operations
26  1027       Harshit Kumar  2022-08-16          HR
27  1028       Kanika Thakur  2020-01-10     Finance
28  1029      Arvind Agarwal  2023-02-18          IT
29  1030         Divya Singh  2021-04-22   Marketing
30  1031        Akash Prasad  2020-06-05       Sales
31  1032          Geeta Rani  2022-09-07  Operations
32  1033         Suresh Jain  2021-12-01          HR
33  1034          Sonal Shah  2023-08-13     Finance
34  1035       Jayesh Bansal  2020-02-15          IT
35  1036        Shweta Yadav  2021-06-03   Marketing
36  1037      Rajendra Joshi  2023-11-19       Sales
37  1038        Kavita Mehta  2020-07-25  Operations
38  1039          Ajit Reddy  2022-04-18          HR
39  1040     Pratibha Sharma  2021-09-05     Finance
40  1041     Subodh Tripathi  2020-05-14          IT
41  1042        Sunita Gupta  2023-03-09   Marketing
42  1043        Arvind Kumar  2021-08-22       Sales
43  1044      Neeraj Agarwal  2020-02-19  Operations
44  1045        Pankaj Joshi  2022-06-10          HR
45  1046          Suman Iyer  2023-04-28     Finance
46  1047         Sunil Verma  2020-09-14          IT
47  1048       Meenal Pandey  2021-07-03   Marketing
48  1049          Manju Nair  2022-11-17       Sales
49  1050       Sandeep Yadav  2021-10-12  Operations

In [4]:
# read the data from header which starts from 2nd index
df_csv = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv", header=2)

In [5]:
df_csv

    1002         Priya Patel  2023-03-22     Finance
0   1003          Ravi Kumar  2021-05-10          IT
1   1004         Sneha Gupta  2020-08-25   Marketing
2   1005          Anil Reddy  2024-02-13       Sales
3   1006          Neha Verma  2019-11-30  Operations
4   1007         Vijay Singh  2022-07-08          HR
5   1008         Ananya Iyer  2021-03-15     Finance
6   1009        Manish Joshi  2020-12-19          IT
7   1010         Simran Kaur  2023-01-11   Marketing
8   1011        Rajesh Mehta  2021-09-01       Sales
9   1012       Deepika Desai  2020-06-10  Operations
10  1013      Shivani Sharma  2022-09-13          HR
11  1014         Harish Nair  2023-04-01     Finance
12  1015         Komal Yadav  2021-11-23          IT
13  1016          Ajay Bhatt  2020-04-25   Marketing
14  1017         Pooja Malik  2022-02-28       Sales
15  1018        Raghav Joshi  2021-06-14  Operations
16  1019          Meera Nair  2020-09-17          HR
17  1020         Krishna Rao  2023-10-02     Finance
18  1021      Prakash Pillai  2022-12-11          HR
19  1022  Aishwarya Deshmukh  2021-07-25     Finance
20  1023          Vikas Soni  2020-11-15          IT
21  1024          Ritu Mehra  2023-05-20   Marketing
22  1025       Nitin Chauhan  2020-03-30       Sales
23  1026        Swati Kapoor  2021-10-05  Operations
24  1027       Harshit Kumar  2022-08-16          HR
25  1028       Kanika Thakur  2020-01-10     Finance
26  1029      Arvind Agarwal  2023-02-18          IT
27  1030         Divya Singh  2021-04-22   Marketing
28  1031        Akash Prasad  2020-06-05       Sales
29  1032          Geeta Rani  2022-09-07  Operations
30  1033         Suresh Jain  2021-12-01          HR
31  1034          Sonal Shah  2023-08-13     Finance
32  1035       Jayesh Bansal  2020-02-15          IT
33  1036        Shweta Yadav  2021-06-03   Marketing
34  1037      Rajendra Joshi  2023-11-19       Sales
35  1038        Kavita Mehta  2020-07-25  Operations
36  1039          Ajit Reddy  2022-04-18          HR
37  1040     Pratibha Sharma  2021-09-05     Finance
38  1041     Subodh Tripathi  2020-05-14          IT
39  1042        Sunita Gupta  2023-03-09   Marketing
40  1043        Arvind Kumar  2021-08-22       Sales
41  1044      Neeraj Agarwal  2020-02-19  Operations
42  1045        Pankaj Joshi  2022-06-10          HR
43  1046          Suman Iyer  2023-04-28     Finance
44  1047         Sunil Verma  2020-09-14          IT
45  1048       Meenal Pandey  2021-07-03   Marketing
46  1049          Manju Nair  2022-11-17       Sales
47  1050       Sandeep Yadav  2021-10-12  Operations

In [6]:
# read a csv file which is separated by semi colon
df = pd.read_csv("C:\python-project\data_files\emp.csv", delimiter=';')

In [7]:
print(df)

   eno   ename  deptno
0    1    Aman     231
1    2   Sagar     232
2    3    Raja     231
3    4   Sethu     232
4    5   Vijay     232

In [8]:
df_new = pd.read_csv("CSV_files\\Employees.csv")

In [9]:
print(df_new)

   eno   ename  deptno
0    1    Aman     231
1    2   Sagar     232
2    3    Raja     231
3    4   Sethu     232
4    5   Vijay     232
5    6   kamal     235

In [10]:
# append/add column names in the dataframe (since file does not have header) and save into another csv file
df_add_header = pd.read_csv("C:\python-project\data_files\Emp_table_without_header.csv", names=["eno", "ename", "deptno"])
df_add_header.to_csv("file_with_header.csv", index=False)

In [11]:
# Need data for specific column
# SQL equivalent: select eno, ename from employees
# way 1 
# columns =["eno", "ename"]
# df_new[columns]

# or 
# way 2
df_new[["eno", "ename"]]

   eno   ename
0    1    Aman
1    2   Sagar
2    3    Raja
3    4   Sethu
4    5   Vijay
5    6   kamal

In [12]:
# get the data from row no 10 to 20
df_specificrows = pd.read_csv('C:\\python-project\\data_files\\Employees_data.csv', skiprows=10, nrows=10, header=None)

In [13]:
print(df_specificrows)

      0               1           2           3
0  1010     Simran Kaur  2023-01-11   Marketing
1  1011    Rajesh Mehta  2021-09-01       Sales
2  1012   Deepika Desai  2020-06-10  Operations
3  1013  Shivani Sharma  2022-09-13          HR
4  1014     Harish Nair  2023-04-01     Finance
5  1015     Komal Yadav  2021-11-23          IT
6  1016      Ajay Bhatt  2020-04-25   Marketing
7  1017     Pooja Malik  2022-02-28       Sales
8  1018    Raghav Joshi  2021-06-14  Operations
9  1019      Meera Nair  2020-09-17          HR

In [14]:
df_loc = df_specificrows.iloc[0:9]
df_loc_1 = df_specificrows.iloc[:,0]

In [15]:
print(df_loc)
print(df_loc_1)

# syntax for iloc
# df.iloc[<row_selection>, <column_selection>]

      0               1           2           3
0  1010     Simran Kaur  2023-01-11   Marketing
1  1011    Rajesh Mehta  2021-09-01       Sales
2  1012   Deepika Desai  2020-06-10  Operations
3  1013  Shivani Sharma  2022-09-13          HR
4  1014     Harish Nair  2023-04-01     Finance
5  1015     Komal Yadav  2021-11-23          IT
6  1016      Ajay Bhatt  2020-04-25   Marketing
7  1017     Pooja Malik  2022-02-28       Sales
8  1018    Raghav Joshi  2021-06-14  Operations
0    1010
1    1011
2    1012
3    1013
4    1014
5    1015
6    1016
7    1017
8    1018
9    1019
Name: 0, dtype: int64

In [16]:
# Syntax	                  Meaning
# df.iloc[2, 1]	    3rd row, 2nd column (single value)
# df.iloc[1:4, :]	rows 1 to 3, all columns
# df.iloc[:, 0]	    all rows, first column

In [17]:
#  need eno, ename and doj (first three columns) columns from row # 1 to 5 from the exisitng dataframe
new_df = df_loc[[0,1,2]].iloc[0:5]

In [18]:
print(new_df)

      0               1           2
0  1010     Simran Kaur  2023-01-11
1  1011    Rajesh Mehta  2021-09-01
2  1012   Deepika Desai  2020-06-10
3  1013  Shivani Sharma  2022-09-13
4  1014     Harish Nair  2023-04-01

In [19]:
print(df_loc.columns.tolist())

[0, 1, 2, 3]

In [20]:
# data types of the a single colum is called series in pandas
type(df_new["eno"])

pandas.core.series.Series

In [21]:
# data types of the a multiple colum is called dataframe in pandas
cols = ["eno", "ename"]
type(df_new[cols])

pandas.core.frame.DataFrame

In [22]:
cols = []
type(df_new[cols])

pandas.core.frame.DataFrame

In [23]:
# convert the date columns to date format ( by default Pandas read them as an object only ( string equivalent))
df_after_date_parse = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv", parse_dates=['doj'])
print(df_after_date_parse.columns.tolist())
print(df_after_date_parse)

['eno', 'ename', 'doj', 'deptname']
     eno               ename        doj    deptname
0   1001        Arjun Sharma 2022-01-15          HR
1   1002         Priya Patel 2023-03-22     Finance
2   1003          Ravi Kumar 2021-05-10          IT
3   1004         Sneha Gupta 2020-08-25   Marketing
4   1005          Anil Reddy 2024-02-13       Sales
5   1006          Neha Verma 2019-11-30  Operations
6   1007         Vijay Singh 2022-07-08          HR
7   1008         Ananya Iyer 2021-03-15     Finance
8   1009        Manish Joshi 2020-12-19          IT
9   1010         Simran Kaur 2023-01-11   Marketing
10  1011        Rajesh Mehta 2021-09-01       Sales
11  1012       Deepika Desai 2020-06-10  Operations
12  1013      Shivani Sharma 2022-09-13          HR
13  1014         Harish Nair 2023-04-01     Finance
14  1015         Komal Yadav 2021-11-23          IT
15  1016          Ajay Bhatt 2020-04-25   Marketing
16  1017         Pooja Malik 2022-02-28       Sales
17  1018        Raghav Joshi 2021-06-14  Operations
18  1019          Meera Nair 2020-09-17          HR
19  1020         Krishna Rao 2023-10-02     Finance
20  1021      Prakash Pillai 2022-12-11          HR
21  1022  Aishwarya Deshmukh 2021-07-25     Finance
22  1023          Vikas Soni 2020-11-15          IT
23  1024          Ritu Mehra 2023-05-20   Marketing
24  1025       Nitin Chauhan 2020-03-30       Sales
25  1026        Swati Kapoor 2021-10-05  Operations
26  1027       Harshit Kumar 2022-08-16          HR
27  1028       Kanika Thakur 2020-01-10     Finance
28  1029      Arvind Agarwal 2023-02-18          IT
29  1030         Divya Singh 2021-04-22   Marketing
30  1031        Akash Prasad 2020-06-05       Sales
31  1032          Geeta Rani 2022-09-07  Operations
32  1033         Suresh Jain 2021-12-01          HR
33  1034          Sonal Shah 2023-08-13     Finance
34  1035       Jayesh Bansal 2020-02-15          IT
35  1036        Shweta Yadav 2021-06-03   Marketing
36  1037      Rajendra Joshi 2023-11-19       Sales
37  1038        Kavita Mehta 2020-07-25  Operations
38  1039          Ajit Reddy 2022-04-18          HR
39  1040     Pratibha Sharma 2021-09-05     Finance
40  1041     Subodh Tripathi 2020-05-14          IT
41  1042        Sunita Gupta 2023-03-09   Marketing
42  1043        Arvind Kumar 2021-08-22       Sales
43  1044      Neeraj Agarwal 2020-02-19  Operations
44  1045        Pankaj Joshi 2022-06-10          HR
45  1046          Suman Iyer 2023-04-28     Finance
46  1047         Sunil Verma 2020-09-14          IT
47  1048       Meenal Pandey 2021-07-03   Marketing
48  1049          Manju Nair 2022-11-17       Sales
49  1050       Sandeep Yadav 2021-10-12  Operations

In [24]:
df_after_date_parse['doj'].dt.weekday

0     5
1     2
2     0
3     1
4     1
5     5
6     4
7     0
8     5
9     2
10    2
11    2
12    1
13    5
14    1
15    5
16    0
17    0
18    3
19    0
20    6
21    6
22    6
23    5
24    0
25    1
26    1
27    4
28    5
29    3
30    4
31    2
32    2
33    6
34    5
35    3
36    6
37    5
38    0
39    6
40    3
41    3
42    6
43    2
44    4
45    4
46    0
47    5
48    3
49    1
Name: doj, dtype: int32

In [25]:
# read the huge file in one go ( by default low_memory is set to True)
df = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv",parse_dates=['doj'],low_memory=False)

In [26]:
df

     eno               ename        doj    deptname
0   1001        Arjun Sharma 2022-01-15          HR
1   1002         Priya Patel 2023-03-22     Finance
2   1003          Ravi Kumar 2021-05-10          IT
3   1004         Sneha Gupta 2020-08-25   Marketing
4   1005          Anil Reddy 2024-02-13       Sales
5   1006          Neha Verma 2019-11-30  Operations
6   1007         Vijay Singh 2022-07-08          HR
7   1008         Ananya Iyer 2021-03-15     Finance
8   1009        Manish Joshi 2020-12-19          IT
9   1010         Simran Kaur 2023-01-11   Marketing
10  1011        Rajesh Mehta 2021-09-01       Sales
11  1012       Deepika Desai 2020-06-10  Operations
12  1013      Shivani Sharma 2022-09-13          HR
13  1014         Harish Nair 2023-04-01     Finance
14  1015         Komal Yadav 2021-11-23          IT
15  1016          Ajay Bhatt 2020-04-25   Marketing
16  1017         Pooja Malik 2022-02-28       Sales
17  1018        Raghav Joshi 2021-06-14  Operations
18  1019          Meera Nair 2020-09-17          HR
19  1020         Krishna Rao 2023-10-02     Finance
20  1021      Prakash Pillai 2022-12-11          HR
21  1022  Aishwarya Deshmukh 2021-07-25     Finance
22  1023          Vikas Soni 2020-11-15          IT
23  1024          Ritu Mehra 2023-05-20   Marketing
24  1025       Nitin Chauhan 2020-03-30       Sales
25  1026        Swati Kapoor 2021-10-05  Operations
26  1027       Harshit Kumar 2022-08-16          HR
27  1028       Kanika Thakur 2020-01-10     Finance
28  1029      Arvind Agarwal 2023-02-18          IT
29  1030         Divya Singh 2021-04-22   Marketing
30  1031        Akash Prasad 2020-06-05       Sales
31  1032          Geeta Rani 2022-09-07  Operations
32  1033         Suresh Jain 2021-12-01          HR
33  1034          Sonal Shah 2023-08-13     Finance
34  1035       Jayesh Bansal 2020-02-15          IT
35  1036        Shweta Yadav 2021-06-03   Marketing
36  1037      Rajendra Joshi 2023-11-19       Sales
37  1038        Kavita Mehta 2020-07-25  Operations
38  1039          Ajit Reddy 2022-04-18          HR
39  1040     Pratibha Sharma 2021-09-05     Finance
40  1041     Subodh Tripathi 2020-05-14          IT
41  1042        Sunita Gupta 2023-03-09   Marketing
42  1043        Arvind Kumar 2021-08-22       Sales
43  1044      Neeraj Agarwal 2020-02-19  Operations
44  1045        Pankaj Joshi 2022-06-10          HR
45  1046          Suman Iyer 2023-04-28     Finance
46  1047         Sunil Verma 2020-09-14          IT
47  1048       Meenal Pandey 2021-07-03   Marketing
48  1049          Manju Nair 2022-11-17       Sales
49  1050       Sandeep Yadav 2021-10-12  Operations

In [27]:
# how to convert the dictionary data in to dataframe

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [28]:
df1 = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv", usecols=['eno', 'ename'])

In [29]:
df1

     eno               ename
0   1001        Arjun Sharma
1   1002         Priya Patel
2   1003          Ravi Kumar
3   1004         Sneha Gupta
4   1005          Anil Reddy
5   1006          Neha Verma
6   1007         Vijay Singh
7   1008         Ananya Iyer
8   1009        Manish Joshi
9   1010         Simran Kaur
10  1011        Rajesh Mehta
11  1012       Deepika Desai
12  1013      Shivani Sharma
13  1014         Harish Nair
14  1015         Komal Yadav
15  1016          Ajay Bhatt
16  1017         Pooja Malik
17  1018        Raghav Joshi
18  1019          Meera Nair
19  1020         Krishna Rao
20  1021      Prakash Pillai
21  1022  Aishwarya Deshmukh
22  1023          Vikas Soni
23  1024          Ritu Mehra
24  1025       Nitin Chauhan
25  1026        Swati Kapoor
26  1027       Harshit Kumar
27  1028       Kanika Thakur
28  1029      Arvind Agarwal
29  1030         Divya Singh
30  1031        Akash Prasad
31  1032          Geeta Rani
32  1033         Suresh Jain
33  1034          Sonal Shah
34  1035       Jayesh Bansal
35  1036        Shweta Yadav
36  1037      Rajendra Joshi
37  1038        Kavita Mehta
38  1039          Ajit Reddy
39  1040     Pratibha Sharma
40  1041     Subodh Tripathi
41  1042        Sunita Gupta
42  1043        Arvind Kumar
43  1044      Neeraj Agarwal
44  1045        Pankaj Joshi
45  1046          Suman Iyer
46  1047         Sunil Verma
47  1048       Meenal Pandey
48  1049          Manju Nair
49  1050       Sandeep Yadav

In [30]:
df2 = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv", index_col='eno')

In [31]:
df2

                   ename         doj    deptname
eno
1001        Arjun Sharma  2022-01-15          HR
1002         Priya Patel  2023-03-22     Finance
1003          Ravi Kumar  2021-05-10          IT
1004         Sneha Gupta  2020-08-25   Marketing
1005          Anil Reddy  2024-02-13       Sales
1006          Neha Verma  2019-11-30  Operations
1007         Vijay Singh  2022-07-08          HR
1008         Ananya Iyer  2021-03-15     Finance
1009        Manish Joshi  2020-12-19          IT
1010         Simran Kaur  2023-01-11   Marketing
1011        Rajesh Mehta  2021-09-01       Sales
1012       Deepika Desai  2020-06-10  Operations
1013      Shivani Sharma  2022-09-13          HR
1014         Harish Nair  2023-04-01     Finance
1015         Komal Yadav  2021-11-23          IT
1016          Ajay Bhatt  2020-04-25   Marketing
1017         Pooja Malik  2022-02-28       Sales
1018        Raghav Joshi  2021-06-14  Operations
1019          Meera Nair  2020-09-17          HR
1020         Krishna Rao  2023-10-02     Finance
1021      Prakash Pillai  2022-12-11          HR
1022  Aishwarya Deshmukh  2021-07-25     Finance
1023          Vikas Soni  2020-11-15          IT
1024          Ritu Mehra  2023-05-20   Marketing
1025       Nitin Chauhan  2020-03-30       Sales
1026        Swati Kapoor  2021-10-05  Operations
1027       Harshit Kumar  2022-08-16          HR
1028       Kanika Thakur  2020-01-10     Finance
1029      Arvind Agarwal  2023-02-18          IT
1030         Divya Singh  2021-04-22   Marketing
1031        Akash Prasad  2020-06-05       Sales
1032          Geeta Rani  2022-09-07  Operations
1033         Suresh Jain  2021-12-01          HR
1034          Sonal Shah  2023-08-13     Finance
1035       Jayesh Bansal  2020-02-15          IT
1036        Shweta Yadav  2021-06-03   Marketing
1037      Rajendra Joshi  2023-11-19       Sales
1038        Kavita Mehta  2020-07-25  Operations
1039          Ajit Reddy  2022-04-18          HR
1040     Pratibha Sharma  2021-09-05     Finance
1041     Subodh Tripathi  2020-05-14          IT
1042        Sunita Gupta  2023-03-09   Marketing
1043        Arvind Kumar  2021-08-22       Sales
1044      Neeraj Agarwal  2020-02-19  Operations
1045        Pankaj Joshi  2022-06-10          HR
1046          Suman Iyer  2023-04-28     Finance
1047         Sunil Verma  2020-09-14          IT
1048       Meenal Pandey  2021-07-03   Marketing
1049          Manju Nair  2022-11-17       Sales
1050       Sandeep Yadav  2021-10-12  Operations

In [32]:
df3 = pd.read_csv("C:\\python-project\\data_files\\Employees_data.csv",usecols=['eno','ename'], index_col='eno', low_memory=False)

In [34]:
df3

                   ename
eno
1001        Arjun Sharma
1002         Priya Patel
1003          Ravi Kumar
1004         Sneha Gupta
1005          Anil Reddy
1006          Neha Verma
1007         Vijay Singh
1008         Ananya Iyer
1009        Manish Joshi
1010         Simran Kaur
1011        Rajesh Mehta
1012       Deepika Desai
1013      Shivani Sharma
1014         Harish Nair
1015         Komal Yadav
1016          Ajay Bhatt
1017         Pooja Malik
1018        Raghav Joshi
1019          Meera Nair
1020         Krishna Rao
1021      Prakash Pillai
1022  Aishwarya Deshmukh
1023          Vikas Soni
1024          Ritu Mehra
1025       Nitin Chauhan
1026        Swati Kapoor
1027       Harshit Kumar
1028       Kanika Thakur
1029      Arvind Agarwal
1030         Divya Singh
1031        Akash Prasad
1032          Geeta Rani
1033         Suresh Jain
1034          Sonal Shah
1035       Jayesh Bansal
1036        Shweta Yadav
1037      Rajendra Joshi
1038        Kavita Mehta
1039          Ajit Reddy
1040     Pratibha Sharma
1041     Subodh Tripathi
1042        Sunita Gupta
1043        Arvind Kumar
1044      Neeraj Agarwal
1045        Pankaj Joshi
1046          Suman Iyer
1047         Sunil Verma
1048       Meenal Pandey
1049          Manju Nair
1050       Sandeep Yadav